.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.title{
  font-size: 3rem;
}

.navigation {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  gap: 2rem;
}

.link {
  width: 9rem;
  padding: 1.5rem 0;
  font-size: 1.2rem;
  text-align: center;
  color: white;
  border: 0.1rem solid white;
  border-radius: 2rem;
}

.link:hover {
  text-decoration: underline;
}
