.Berries {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.Berries p {
  text-align: center;
}

.BerriesContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.EachBerrie {
  width: 40rem;
  height: 25rem;
  padding: 2rem;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 15% 10% 10% 25% 40%;
  border: 0.1rem solid white;
  border-radius: 2rem;
}


.Image{
  grid-column: 1/2;
  grid-row: 1/4;
  padding: 1.5rem;
  justify-self: center;
  align-self: flex-end;
  border: 1px solid white;
  border-radius: 1.5rem;
}

.Name {
  grid-column: 2/4;
  grid-row: 1/2;
  font-size: 1.2rem;
}

.Name span{
  margin-left: 0.5rem;
  font-size: 2rem;
}

.SF {
  grid-column: 2/4;
  grid-row: 2/4;
  display: grid;
  grid-template-columns: 20% 10% 70%;
  grid-template-rows: repeat(2, 1fr);
  padding: 0.2rem 0 0.2rem 0.5rem;
  align-items: center;
  border: 0.1rem solid white;
  border-radius: 0.8rem;
}

.Flavors {
  grid-column: 1/5;
  grid-row: 4/5;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.isFlavor {
  border: 1px solid white;
  border-radius: 25px;
}

.Spicy, .Sour, .Dry, .Bitter, .Sweet {
  width: 6rem;
  height: 2.75rem;
  font-size: 1.2rem;
  text-align: center;
  padding: 0.5rem;
  letter-spacing: 0.05rem;
}


.Description {
  grid-column: 1/5;
  grid-row: 5/6;
  font-size: 1.2rem;
  padding: 1rem;
  border: 1px solid white;
  border-radius: 1rem;
}
